<form id="dice-pool-form" class="sta-form">
    <div class=" dice-pool flexcol">
        <div class="flexrow" id="dice-pool-form-field-pool-size">
            <div><!-- style="flex: 1;"--><label class="label">{{localize 'sta.apps.pool'}}</label></div>
            <div><!--  style="flex: 1;display: flex;flex-direction: column;" -->
                <datalist id="numdice">
                    {{#repeat 5}}
                    <option value="{{@index}}" label="{{@index}}">{{@index}}</option>
                    {{/repeat}}
                </datalist>
                <input type="range" name="dicePoolSlider" min="1" max="5" value="{{dicePool}}" class="slider" id="dicePoolSlider" list="numdice" step="1" />
            </div>
        </div>
        <div class="flexrow" id="dice-pool-form-field-focus">
            <label class="label">{{localize 'sta.apps.focus'}}</label>
            <input type="checkbox" name="usingFocus" id="usingFocus" />
        </div>
        <div class="flexrow" id="dice-pool-form-field-determination">
            <label class="label">{{localize 'sta.apps.determination'}}</label>
            <input type="checkbox" name="usingDetermination" id="usingDetermination" />
        </div>
        <div class="flexrow" id="dice-pool-form-field-complication">
            <label class="label">{{localize 'sta.apps.complicationrange'}}</label><!-- style="flex: 80%;"-->
            <input class="numeric-entry" type="number" name="complicationRange" value="{{complicationRange}}" id="complicationRange" /><!-- style="text-align: center;" -->
        </div>
    </div>    
</form>